In [1]:
import pandas as pd
import spacy
from spacy.tokens import Doc, Span
from global_scripts.txt_parser import read_file_with_encoding
from nlp_comparing import compare_docs, compare_tokens

In [2]:
file_path_1 = 'The_interplay_between_nature_and_culture.txt'
file_path_2 = 'TheEvolutionOfHumanConnections.txt'
file_path_3 = 'TheRiseandFallofAncientCivilizations .txt'

In [3]:
file1 = read_file_with_encoding(file_path_1)
file2 = read_file_with_encoding(file_path_2)
file3 = read_file_with_encoding(file_path_3)

In [4]:
nlp = spacy.load("en_core_web_lg")

In [5]:
doc1 = nlp(file1)
doc2 = nlp(file2)
doc3 = nlp(file3)

## Comparing the docs

In [6]:
compare_docs(doc1=doc1, doc2=doc2, doc3=doc3)

          doc1      doc2      doc3
doc1  1.000000  0.977821  0.969381
doc2  0.977821  1.000000  0.939765
doc3  0.969381  0.939765  1.000000

## Compare first 100 tokens

### Doc 1 - 2

In [7]:
compare_tokens(doc1, doc2)

C:\Users\zouff\PycharmProjects\Y3\AI\NLP\part_b\nlp_comparing.py:20: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  value.append(doc1[i].similarity(doc2[i]))

          Token 1        Token 2 Similarity
0             The            The        1.0
1       Interplay      Evolution   0.427782
2         Between             of   0.560258
3          Nature          Human   0.578378
4             and  Communication   0.330893
..            ...            ...        ...
95            and              ,   0.466192
96            the            and   0.562487
97         impact   implications   0.674745
98             of            for   0.553522
99  globalization            the   0.195129

[100 rows x 3 columns]

### Doc 1 - 3

In [8]:
compare_tokens(doc1, doc3)

C:\Users\zouff\PycharmProjects\Y3\AI\NLP\part_b\nlp_comparing.py:20: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  value.append(doc1[i].similarity(doc2[i]))

          Token 1       Token 2 Similarity
0             The           The        1.0
1       Interplay          Rise   0.172405
2         Between           and   0.496923
3          Nature          Fall   0.365203
4             and            of   0.583599
..            ...           ...        ...
95            and    Revolution   0.230933
96            the             ,   0.207785
97         impact         where   0.395471
98             of        humans   0.305309
99  globalization  transitioned   0.196183

[100 rows x 3 columns]

### Doc 2 - 3

In [9]:
compare_tokens(doc2, doc3)

C:\Users\zouff\PycharmProjects\Y3\AI\NLP\part_b\nlp_comparing.py:20: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  value.append(doc1[i].similarity(doc2[i]))

          Token 1       Token 2 Similarity
0             The           The        1.0
1       Evolution          Rise   0.369472
2              of           and   0.583599
3           Human          Fall   0.275329
4   Communication            of   0.316228
..            ...           ...        ...
95              ,    Revolution   0.154933
96            and             ,   0.466192
97   implications         where   0.334912
98            for        humans   0.213753
99            the  transitioned   0.128594

[100 rows x 3 columns]

## Add own name

In [14]:
nlp = spacy.blank("en")

words = ["Luca", "Dandois"]
spaces = [True, False]

doc = Doc(nlp.vocab, words=words, spaces=spaces)

span = Span(doc, 0, 2, label="PERSON")

doc.ents = [span]

print([(ent.text, ent.label_) for ent in doc.ents])

[('Luca Dandois', 'PERSON')]